:root {
  --first-color: #bb3740;
  --second-color: #3C466B;
  --third-color: #efe9e2;
  --fourth-color: #008ECC;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Arvo", serif;
}

a {
  text-decoration: none;
}

/* login page */
.login-page {
  width: 100%;
  height: 100vh;
  background-color: #F2F4F7;
}

.login-page .logo {
  top: 25px;
  right: 30px;

  h1 {
    font-size: 15px;
    margin: 0;
    color: var(--first-color);
    font-weight: bold;
  }
}

/* form style in login.html*/
.login-page .login {

  .content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 30rem;

    .container {


      .text {
        h3 {
          font-size: 30px;
          font-weight: bold;
          color: var(--first-color);
        }

        p {
          font-size: 15px;
          color: #3c466b82;
        }
      }

      .error {
        display: none;
        background-color: #ffcdcd;
        padding: 10px;
        border-radius: 6px;
        color: brown;
        font-size: 14px;
        text-align: center;
        margin-bottom: 8px;
      }

      form {
        label {
          font-size: 15px;
          color: var(--second-color);
        }


        input::placeholder {
          color: #3c466b82;
        }

        .check {
          font-size: 12px;
          font-weight: bold;

          .remmber-me {
            span {
              color: var(--second-color);
            }
          }

          .forgot {
            color: var(--second-color);
          }
        }

        .submit-input {
          margin-top: 1rem;
          padding: 10px;
          width: 100%;
          border-radius: 6px;
          border: none;
          background-color: var(--first-color);
          color: white;
          font-size: 15px;
          transition: 0.5s;
          text-align: center;

          &:hover {
            background-color: var(--second-color);
          }
        }

        .google-signin {
          margin-top: 0.5rem;
          padding: 10px;
          width: 100%;
          border-radius: 6px;
          font-size: 15px;
          background-color: transparent;
          border: 1px solid var(--second-color);
          color: var(--second-color);
          transition: 0.5s;
          text-align: center;

          img {
            width: 20px;
          }

          &:hover {
            background-color: var(--second-color);
            color: white;
          }
        }

        .sign-up {
          font-size: 13px;
          width: 100%;
          text-align: center;

          a {
            color: var(--fourth-color);
          }
        }
      }
    }
  }
}

/* true edit password */
.true-edit-password {
  .return-login {
    margin-top: 1rem;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    border: none;
    background-color: var(--first-color);
    color: white;
    font-size: 15px;
    transition: 0.5s;
    text-align: center;

    &:hover {
      background-color: var(--second-color);
    }
  }

  .content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 30rem;

    .container {
      display: flex;
      flex-direction: column;

      .true {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          width: 45px;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-image: linear-gradient(to top, #adadad -9%, var(--first-color) 40%);
          color: white;
          border-radius: 50%;
          font-size: 30px;
        }
      }

      .text {
        h3 {
          font-size: 25px;
          font-weight: bold;
          color: var(--first-color);

          span {
            color: var(--second-color);
          }
        }

        p {
          font-size: 15px;
          color: #3c466b82;
        }
      }
    }
  }
}



/* verify page */
.verify {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verify-box {
  background: white;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.verify-box h3 {
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--first-color);

  span {
    color: var(--second-color);
  }
}

.verify-box p {
  color: #777;
  font-size: 15px;
  margin-bottom: 25px;
  color: #3c466b82;
}

.code-inputs {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 25px;
}

.code-inputs input {
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  transition: 0.3s;
}

.code-inputs input:focus {
  border-color: #bb3740;
  outline: none;
  box-shadow: 0px 0px 5px rgba(187, 55, 64, 0.3);
}

.verify-btn {
  background-color: #bb3740;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}

.verify-btn:hover {
  background-color: #a02e36;
}

.resend {
  margin-top: 20px;
  color: #555;
  font-size: 14px;
}

.resend a {
  color: var(--fourth-color);
  text-decoration: none;
  font-weight: 600;
}

.resend a:hover {
  text-decoration: underline;
}