* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #222;
  line-height: 1.6;
  font-family: "Arvo", serif;
}

/* start main  */

section.item {
  padding-top: 10rem;
  padding-bottom: 3rem;
  background-color: white;
}

/* start gallery  */
.gallery {
  display: flex;
  gap: 20px;
}

.left-img {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-img img {
  width: 70px;
  height: 90px;
  cursor: pointer;
  object-fit: cover;
  border-radius: 7px;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
}

.left-img img:hover {
  border-color: #0071e3;
}

.main-img-wrap {
  width: 400px;
  height: 500px;
}

.main-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}

/* start details  */
/* ====== DETAILS SECTION ====== */
.details {
  max-width: 400px;
}

.pro-title {
  font-size: 32px;
  margin-bottom: 5px;
}

.pro-subtitle {
  color: #666;
  margin-bottom: 20px;
}

/* price */
.price-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.price-old {
  text-decoration: line-through;
  color: #888;
}

.price-now {
  color: #0071e3;
  font-weight: 600;
  font-size: 22px;
}

/* size  */
.option-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.sizes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.size-btn {
  border: 1px solid #ccc;
  background: #fff;
  padding: 8px 12px;
  border-radius: 7px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}

.size-btn.active,
.size-btn:hover {
  background-color: #0071e3;
  color: #fff;
  border-color: #0071e3;
}

.size-gu {
  display: inline-block;
  margin-top: 10px;
  color: #0071e3;
  text-decoration: none;
  font-size: 14px;
}

/* color  */
.colors {
  display: flex;
  gap: 10px;
}

.color {
  width: 20px;
  height: 20px;
  border: 1px solid #666;
  border-radius: 50%;
  cursor: pointer;
}

.color.black {
  background: #000;
}

.color.red {
  background: red;
}

.color.blue {
  background: #007aff;
}

/* buy  */
.buy-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 25px 0;
}

.qty {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 7px;
}

.qty button {
  background: none;
  border: none;
  font-size: 20px;
  padding: 10px 15px;
  cursor: pointer;
}

.qty input {
  width: 50px;
  text-align: center;
  border: none;
  font-size: 16px;
}

.btn-primary {
  background-color: #0071e3;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
  transition: bakground 0.3s ease;
}

.btn-primary:hover {
  background: #005bb5;
}